*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-width: 1440px;
}

ul {
  list-style: none;
}

/* Section Hero */
.section__hero {
  height: 100vh;
  background-color: #0f0f10;
  color: #fff;
  padding: 2% 10% 4%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  margin-left: 22rem;
}

.navbar ul li {
  font-weight: 500;
  cursor: pointer;
}

.navbar button {
  background-color: #1e1e21;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.navbar ul li:hover,
.navbar button:hover,
.btn-cart:hover {
  opacity: 0.7;
  transition: all 0.7s;
}

.section__hero--header {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.section__hero--header .left img {
  position: absolute;
  top: -10%;
  left: 13rem;
  height: 80%;
}

.section__hero--header .right {
  margin-top: 2rem;
  margin-left: 11.5rem;
}

.section__hero--header .right img {
  max-width: 70%;
  margin-left: 3rem;
}

.section__hero--header .right h1 {
  font-size: 3rem;
}

.section__hero--header .right h5 {
  margin-top: 3rem;
}

.section__hero--header .right p {
  margin-top: 2rem;
  line-height: 1.8;
}

.btn-cart {
  margin-top: 3rem;
  background-color: #1e1e21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.section__hero--header .right .btn-cart img {
  margin-left: 0;
}

.section__hero--header .right .btn-cart span {
  font-size: 1rem;
  font-weight: bold;
}

/* Logos Section */
.section__logos {
  background-color: #0f0f10;
  padding: 2% 20%;
  display: flex;
  justify-content: space-between;
}

.section__logos .logo {
  max-width: 100%;
  height: 100%;
}

/* Specs Section */
.section__specs {
  background-color: #0f0f10;
  color: #fff;
  padding: 4% 25%;
}

.section__specs .specs-text {
  display: block;
  margin: 0 auto;
}

.section__specs .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.section__specs .container {
  margin-top: 5rem;
}

.section__specs .container .left .specs {
  margin-bottom: 1rem;
}

.section__specs .container .left .specs:nth-child(1),
.section__specs .container .left .specs:nth-child(4) {
  margin-left: 2rem;
}

.section__specs .container .specs p {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

/* Section Case */
.section__case {
  background-color: #0f0f10;
  color: #fff;
  padding: 4% 25%;
}

.section__case .case-text {
  display: block;
  margin: 0 auto;
}

.section__case .container {
  margin-top: 5rem;
}

.section__case .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section Buy Now */
.section__buy-now {
  background-color: #0f0f10;
  color: #fff;
  padding: 4% 15%;
}

.section__buy-now .container {
  background-color: #181a1b;
  color: #fff;
  padding: 5% 10%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__buy-now .container .left h3 {
  margin-bottom: 2rem;
}

.section__buy-now .container .btn-cart-black {
  margin-top: 1.5rem;
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.section__styles {
  background-color: #0f0f10;
  color: #fff;
  padding: 4% 25%;
}

.section__styles .cys-text {
  display: block;
  margin: 0 auto;
}

.section__styles .container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}

.section__styles .container .box {
  height: 150px;
  width: 150px;
  background-color: #181a1b;
  padding: 1rem;
  border-radius: 10px;
}

.section__styles .container .box:nth-child(4),
.box:nth-child(5) {
  margin-top: 2rem;
}

.section__styles .container .box .headphone-img {
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: -3rem;
}

.section__styles .container .box .bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.section__styles .container .box .bottom p {
  font-size: 0.6rem;
  margin-top: 0.3rem;
}

.section__styles .container .box .bottom .right {
  background-color: #000000;
  align-self: flex-end;
  padding: 0.1rem;
  border-radius: 5px;
}

.section__styles .container .box .bottom .right img {
  margin: 0.3rem;
  width: 1rem;
  height: 1rem;
}

/* Section Footer */
.section__footer {
  background-color: #0f0f10;
  color: #fff;
  padding: 5% 0 6% 15%;
}

.section__footer .container {
  display: flex;
  justify-content: space-between;
}

.section__footer .container .logo {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

.section__footer .container .cols li {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.section__footer .container .cols .cta {
  background-color: #181a1b;
  padding: 2% 4%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__footer .container .cols .cta input {
  background-color: #181a1b;
  border: none;
  width: 40%;
}

.section__footer .container .cols .cta .btn-cta {
  background-color: #000000;
  padding: 0.7rem 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.section__footer .container .cols .socials {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.section__footer .container .cols .socials img {
  cursor: pointer;
}

.section__footer .container .up-arrow {
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}
